<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online Job Portal</display-name>
  <servlet>
    <servlet-name>register-emp</servlet-name>
    <servlet-class>employee.Register_Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register-emp</servlet-name>
    <url-pattern>/register-employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employee_login1</servlet-name>
    <servlet-class>employee.employee_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee_login1</servlet-name>
    <url-pattern>/employee-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerc</servlet-name>
    <servlet-class>company.register_company</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerc</servlet-name>
    <url-pattern>/register-company</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Company_Login</servlet-name>
    <servlet-class>company.Company_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_Login</servlet-name>
    <url-pattern>/company-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit_employee_profile</display-name>
    <servlet-name>edit_employee_profile</servlet-name>
    <servlet-class>employee.edit_employee_profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit_employee_profile</servlet-name>
    <url-pattern>/edit_employee_profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edit_employee_profile_set</servlet-name>
    <servlet-class>employee.edit_employee_profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit_employee_profile_set</servlet-name>
    <url-pattern>/edit-profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobPost</display-name>
    <servlet-name>JobPost</servlet-name>
    <servlet-class>company.JobPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobPost</servlet-name>
    <url-pattern>/job-post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TotalJob</servlet-name>
    <servlet-class>admin.TotalJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalJob</servlet-name>
    <url-pattern>/TotalJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalCompanies</display-name>
    <servlet-name>TotalCompanies</servlet-name>
    <servlet-class>admin.TotalCompanies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalCompanies</servlet-name>
    <url-pattern>/TotalCompanies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalEmployees</display-name>
    <servlet-name>TotalEmployees</servlet-name>
    <servlet-class>admin.TotalEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalEmployees</servlet-name>
    <url-pattern>/TotalEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>admin.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobs</display-name>
    <servlet-name>DeleteJobs</servlet-name>
    <servlet-class>admin.DeleteJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobs</servlet-name>
    <url-pattern>/DeleteJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployee</display-name>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>admin.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCompany</display-name>
    <servlet-name>DeleteCompany</servlet-name>
    <servlet-class>admin.DeleteCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCompany</servlet-name>
    <url-pattern>/DeleteCompany</url-pattern>
  </servlet-mapping>
</web-app>